@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    
}

p, blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .8em 1.2em;
}

.logo {
    width: 130px;
}

.hide-mobile {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 20px;
    margin-top: 45%;
}

.server {
    width: 70%;
    margin: 2em auto 2em 25%;

}

h1, .subhead {
    position: relative;
    z-index: 3;
}

.subhead {
    font-size: 1.1em;
}

.blue-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background: #00C2FF;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.blue-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background: #FFF;
    position: absolute;
    top: -80px;
    right: 0;
    z-index: -1;
    border-radius: 50%;
}

.blue-container {
    width: 100%;
    background-color:#00C2FF;
    color: white;
    margin-top: 15%;
    padding: 3em 0 2em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
    
}

.blue-container ul {
    transform: skewY(+2deg);
}

.blue-container ul li {
    margin: 3em;
}